* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 75%; }

body {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-weight: 400;
  color: #595959;
  font-size: 1.3rem;
  line-height: 1.8;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif; }

.homeContainer {
  padding: 3rem 5rem 0 5rem; }
  .homeContainer__welcome {
    display: flex;
    justify-content: space-between; }
    .homeContainer__welcome__sectionOne {
      flex: 0 0 40%; }
      .homeContainer__welcome__sectionOne--main-text {
        padding: 8rem 0 2rem 0;
        font-size: 6rem;
        line-height: 1.2; }
      .homeContainer__welcome__sectionOne--simple-text {
        padding: 8rem 0 2rem 0;
        width: 60%; }
    .homeContainer__welcome__sectionTwo {
      background-color: #000;
      color: #fff;
      padding: 2rem;
      flex: 0 0 50%; }

.nav {
  width: 100%;
  margin: 4rem; }
  .nav__container {
    display: flex;
    list-style-type: none;
    width: 50%;
    float: right;
    clear: right; }
    @media only screen and (max-width: 37.5em) {
      .nav__container {
        float: left; } }
    .nav__container--item {
      color: #000;
      margin: 2rem;
      text-decoration: none; }
